# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bankrupt_parcer_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
# inputfile
INPUT_FILE_PATH=./data/test.xlsx

# chrome
CHROME_CDP_URL=host.docker.internal:9222
