# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bankrupt_parcer_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
# inputfile
INPUT_FILE_PATH=./data/inn_data.xlsx

# chrome
CHROME_CDP_URL=http://localhost:9222

MAX_CONCURRENT_TASKS=2